# Python Basics 3

Contents:
* Strings
* 2D Lists
* Tuples Dictionaries & Sets

## String

### Initialisation

In [2]:
a = 'Avishek'

In [3]:
print(a)

Avishek

In [4]:
a = "Avishek"

In [5]:
print(a)

Avishek

In [6]:
a = '''Avishek'''

In [7]:
print(a)

Avishek

### Multiline string

In [8]:
# Advntage of the trinple quotes - Multiline string
b = '''My 
name is
Avishek Roy'''

In [9]:
print(b)

My
name is
Avishek Roy

### String Indexing

In [10]:
# The concept of indexing is quite similar to that of indxing in lists
a = 'Avishek'

In [11]:
a[0]

'A'

In [12]:
a[6]

'k'

In [13]:
a[-1]

'k'

In [14]:
a = '''My
name is
Avishek'''

In [15]:
a[0]

'M'

In [16]:
# When we go to the new line the index is taken by new line character
a[2]

'\n'

In [17]:
a

'My\nname is\nAvishek'

### String are Immutable

In [18]:
a = 'Avishek'

In [19]:
#This gives a error as lists are immutable
# a[0] = 'R'

### Concatination of 2 Strings

In [20]:
a = "red"
a = a + "blue"
a

'redblue'

In [21]:
a += 'red'
a

'redbluered'

In [22]:
id(a)

1856611954608

In [23]:
a += 'yellow'
a

'redblueredyellow'

In [24]:
# the id of the a's are different -  as stings are immutable
id(a)

1856633336896

In [25]:
a = 'blue'
a = a*3
a

'blueblueblue'

In [26]:
# python does not add a stringa and a number
# a = 'red' + 3
# we can use the str operation and convert the number into a string
a = 'red' + str(3)
a

'red3'

### Slicing on String

In [27]:
# [start:end:step]
a = 'Avishek'
a[1:4]

'vis'

In [28]:
a[1:4:2]

'vs'

In [29]:
a[-5:-3]

'is'

In [30]:
a

'Avishek'

In [31]:
a[::-1]

'kehsivA'

In [32]:
a[:3:-1]

'keh'

### Iterating on Strings

In [33]:
str = 'Hello World'

In [34]:
# Approach 1
for i in str:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [35]:
# Approach 2 - if we need the index
for i in range(len(str)):
    print(str[i])

H
e
l
l
o

W
o
r
l
d

In [36]:
# Calculate how many times 'l' appers in the strings 
count = 0
for i in str:
    if (i == 'l'):
        count += 1
print(count)

3

In [37]:
count = 0
for i in range(len(str)):
    if (str[i] == 'l'):
        count += 1
print(count)

3

### In and Not in operation

Starting from any character and a continious part of the string. Can't go backwards  
if we want to check if a string is a substring or not we can use the in opereator

In [38]:
str = 'hello'
a = 'hel'
if a in str:
    print ('yes it is a substring')
else:
    print('not a substring')

yes it is a substring

### Comparison operators on strings

In [39]:
a = "Avishek" == "Avishek"
a

True

In [40]:
# Compared on the basis of ASSCI
a = 'Avisehk' >= 'Abhishek'
a

True

In [41]:
# Smaller letters have a greater ASSCI values
a = 'avishek' >= 'Avishek'
a

True

In [42]:
# if alll he char are same but the length is not = then who so evers length is more will have the greater value
a = 'avi' >= 'Avishek'
a

True

### Check Palindrome

<pre>
Given a string, determine if it is a palindrome, considering only alphanumeric characters.
Palindrome
A palindrome is a word, number, phrase, or other sequences of characters which read the same backwards and forwards.
Example:
If the input string happens to be, "malayalam" then as we see that this word can be read the same as forward and backwards, it is said to be a valid palindrome.

The expected output for this example will print, 'true'.
From that being said, you are required to return a boolean value from the function that has been asked to implement.
Input Format:
The first and only line of input contains a string without any leading and trailing spaces. All the characters in the string would be in lower case.
Output Format:
The only line of output prints either 'true' or 'false'.
Note:
You are not required to print anything. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1 :
abcdcba
Sample Output 1 :
true 
Sample Input 2:
coding
Sample Output 2:
false
</pre>

In [43]:
# Aproach 1 - not that good of a solution
def isPalindrome(string):
    temp = string[::-1]
    if string == temp:
        return True
    else:
        return False

a = isPalindrome('aja')
print(a)

True

In [44]:
# Approach 2 - better as will break as soon as any os the indices so not match
# Time Complexity - O(N), Space Complexity O(1)
def isPalindrome(string):
    for i in range(len(string)):
        if string[i] != string[-i-1]:
            return False
    else:
        return True

a = isPalindrome('codingc')
print(a)

False

In [45]:
def isPalindrome(string) :
    left = 0    
    right = len(string) - 1    
    while left < right :        
        if string[left] != string[right] :            
            return False        
        left += 1        
        right -= 1    
    return True

a = isPalindrome('abcdcba')
print(a)

True

### Operations on a string

ord -  converts ASCII into strings  
chr - convets strings into ASCII

#### Split function

In [46]:
a = 'My name is Avisehk Roy'
li  =  a.split()
print(li)
# returns a list

['My', 'name', 'is', 'Avisehk', 'Roy']

In [47]:
a = 'My,name,is,Avisehk,Roy'
li  =  a.split(',')
print(li)

['My', 'name', 'is', 'Avisehk', 'Roy']

##### maxsplit

In [48]:
# Default argument is all the elemnts to be split, but we can specify then number of elements we would like it to split
a = 'My name is Avisehk Roy'
li  =  a.split(' ', 1) # the maxsplit splits the string into i+1 items so if I give it 1 then the string will be split into 2 items
print(li)

['My', 'name is Avisehk Roy']

In [49]:
a = 'My name is Avisehk Roy'
li  =  a.split(' ', 2)
print(li)

['My', 'name', 'is Avisehk Roy']

#### Replace

In [50]:
str = 'My name is Parik Roy'
str.replace("Parik", "Avishek")
str
# does not make any changes in str, as strings are immutable

'My name is Parik Roy'

In [51]:
str = 'My name is Parik Roy'
str = str.replace("Parik", "Avishek")
str

'My name is Avishek Roy'

In [52]:
str = 'I am writing Rohan three times as Rohan will be replaced Rohan'
str = str.replace("Rohan", "Avishek")
str

'I am writing Avishek three times as Avishek will be replaced Avishek'

In [53]:
# If we want to specify that we want to replace only two Rohans in the statement, we can do that
str = 'I am writing Rohan three times as Rohan will be replaced Rohan'
str = str.replace("Rohan", "Avishek",2)
str

'I am writing Avishek three times as Avishek will be replaced Rohan'

#### Find

In [54]:
# finds returns the starting index of a substring if it is present inside a substring
str = 'My name is Avishek'
index  = str.find('Avi')
print(index)

11

In [55]:
# If the index is not present the it will return -1
str = 'My name is Avishek'
index  = str.find('Avik')
print(index)

-1

In [56]:
# we can specify to find the substring in a particular part of the string
str = 'My name is Avishek. People call me as avi which is a short form for Avishek'
index  = str.find('Avishek', 59,76)
print(index)

68

#### lower and upper

In [57]:
a = 'My name is Avishek'
a = a.lower()
print(a)
a = a.upper()
print(a)

my name is avishek
MY NAME IS AVISHEK

#### starts with

In [58]:
# weather a string is starting with the specified substring - return  a boolean
str = 'My name is Avisehk'
a = str.startswith('My n')
print(a)

True

In [59]:
str = 'My name is Avisehk'
a = str.startswith('name',3)
print(a)

True

### Replace character in a string

In [60]:
def replaceChar(string, chr1, chr2):
    newStr = '' # we have to make a new string because we cannot make changes into the main string as we know that strings are immutable
    for i in string:
        if(i == chr1):
            newStr += chr2
        else:
            newStr += i
    return newStr

a = replaceChar('halla','a','o')
print(a)

hollo

### Count - Vowals, Consonents, Digits & Special Character in Srtings

In [61]:
def countInString(str):
    v,c,d,s = 0,0,0,0
    for char in str:
        if ( (char >= 'a'and char <= 'z') or (char >= 'A' and char <= 'Z') ): # either a vowal or a consonent
            char = char.lower()
            if (char =='a'or char =='e' or char =='i'or char =='o' or char =='u'):
                v+=1
            else:
                c+=1
        elif( char >= "0" or char <= "9" ):
            d+=1
        else:
            s+=1   
    return v,c,d,s       
            
string = 'hfAafsHjsld3$3*sdF$%@*'
v,c,d,s = countInString(str)
print(v,c,d,s)

6 9 3 0

### Question 1 - Check Permutation

<pre>
For a given two strings, 'str1' and 'str2', check whether they are a permutation of each other or not.
Permutations of each other
Two strings are said to be a permutation of each other when either of the string's characters can be rearranged so that it becomes identical to the other one.

Example: 
str1= "sinrtg" 
str2 = "string"

The character of the first string(str1) can be rearranged to form str2 and hence we can say that the given strings are a permutation of each other.
Input Format:
The first line of input contains a string without any leading and trailing spaces, representing the first string 'str1'.

The second line of input contains a string without any leading and trailing spaces, representing the second string 'str2'.
Note:
All the characters in the input strings would be in lower case.
Output Format:
The only line of output prints either 'true' or 'false', denoting whether the two strings are a permutation of each other or not.

You are not required to print anything. It has already been taken care of. Just implement the function. 
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
abcde
baedc
Sample Output 1:
true
Sample Input 2:
abc
cbd
Sample Output 2:
false
</pre>

In [62]:
def isPermutation(string1, string2) :
    ptr = 0
    if len(string1) != len(string2):
        return False
    arr = [0]*256
    for i in range(0,len(string1)):
        arr[ord(string1[i])] = arr[ord(string1[i])] + 1 
    for i in range(0,len(string2)):
        arr[ord(string2[i])] = arr[ord(string2[i])] - 1
    for i in range(256):
        if arr[i] != 0:
            return False
    return True
a = isPermutation('abd','abc')
print(a)

False

In [63]:
def isPermutation(string1, string2) :
    ptr = 0
    if len(string1) != len(string2):
        return False
    arr = [0]*256
    for i in range(0,len(string1)):
        a = ord(string1[i])
        arr[a] +=1
    for i in range(0,len(string2)):
        a = ord(string2[i])
        arr[a] -=1
    for i in range(256):
        if arr[i] != 0:
            return False
        
    return True
a = isPermutation('abc987','acb879')
print(a)

True

### Question 2 - Remove Consecutive Duplicates

<pre>
For a given string(str), remove all the consecutive duplicate characters.
Example:
Input String: "aaaa"
Expected Output: "a"

Input String: "aabbbcc"
Expected Output: "abc"

Input Format:
The first and only line of input contains a string without any leading and trailing spaces. All the characters in the string would be in lower case.
Output Format:
The only line of output prints the updated string.
Note:
You are not required to print anything. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aabccbaa
Sample Output 1:
abcba
Sample Input 2:
xxyyzxx
Sample Output 2:
xyzx
</pre>

In [64]:
def removeConsecutiveDuplicates(string):
    ans = ''
    for i in string:
        if ans =='' or i != ans[len(ans)-1]:
            ans += i
    return ans

a = removeConsecutiveDuplicates('aaabbc')
print(a)

abc

In [65]:
def removeConsecutiveDuplicates(string):
    n =  len(string)
    ans = ""
    startIndex = 0
    while startIndex <n:
        uniqueChar = string[startIndex]
        nextUniqueCharIndex = startIndex + 1
        
        while ((nextUniqueCharIndex <n) and (string[nextUniqueCharIndex]==uniqueChar)):
            nextUniqueCharIndex += 1
        
        ans += uniqueChar
        startIndex = nextUniqueCharIndex
    return ans
        
a = removeConsecutiveDuplicates('aaabbc')
print(a)

abc

### Question 3 - Reverse Each Word

<pre>
Aadil has been provided with a sentence in the form of a string as a function parameter. The task is to implement a function so as to print the sentence such that each word in the sentence is reversed.
Example:
Input Sentence: "Hello, I am Aadil!"
The expected output will print, ",olleH I ma !lidaA".
Input Format:
The first and only line of input contains a string without any leading and trailing spaces. The input string represents the sentence given to Aadil.
Output Format:
The only line of output prints the sentence(string) such that each word in the sentence is reversed. 
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
Welcome to Coding Ninjas
Sample Output 1:
emocleW ot gnidoC sajniN
Sample Input 2:
Always indent your code
Sample Output 2:
syawlA tnedni ruoy edoc
</pre>

In [66]:
def reverseEachWord(string):
    arr = string.split(' ')
    ans = ''
    for i in range(len(arr)):
        temp = arr[i]
        temp = temp[::-1]
        ans += temp + ' '
    return ans

a = reverseEachWord('Hello my name is Avishek')
print(a)

olleH ym eman si kehsivA

In [67]:
def reverseEachWord(string):
    arr = string.split(' ')
    ans = ''
    for i in range(len(arr)):
        arr[i] = arr[i][::-1] + ' '
        ans += arr[i]
    return ans

a = reverseEachWord('Hello my name is Avishek')
print(a)

olleH ym eman si kehsivA

In [68]:
def reverseWord(string, start, end) :    
    reverse = ""    
    while start < end :        
        reverse = string[start] + reverse        
    start += 1    
    return reverse

def reverseEachWord(string) :    
    n = len(string)    
    previousSpaceIndex = -1    
    ans = ""    
    
    i = 0    
    while i < n :        
        if string[i] == ' ' :            
            ans += (reverseWord(string, previousSpaceIndex + 1, i) + " ")            
            previousSpaceIndex = i        
        i += 1    
        
    ans += (reverseWord(string, previousSpaceIndex + 1, i) + " ")    
    return ans

### Question 4 - Remove character

<pre>
For a given a string(str) and a character X, write a function to remove all the occurrences of X from the given string.
The input string will remain unchanged if the given character(X) doesn't exist in the input string.
Input Format:
The first line of input contains a string without any leading and trailing spaces.

The second line of input contains a character(X) without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string. 
Note:
You are not required to print anything explicitly. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aabccbaa
a
Sample Output 1:
bccb
Sample Input 2:
xxyyzxx
y
Sample Output 2:
xxzxx
</pre>

In [69]:
def removeAllOccurrencesOfChar(string, ch) :
    ans = ''
    for i in range(len(string)):
        if ord(string[i]) != ord(ch):
            ans += string[i]
    return ans

a = removeAllOccurrencesOfChar('abcaadsca','a')
print(a)

bcdsc

In [70]:
# Given Solution
def removeAllOccurrencesOfChar(string, ch) :    
    n = len(string)    
    ans = ""    
    for i in range(n) :         
        if string[i] != ch :            
            ans += string[i]
    return ans

a = removeAllOccurrencesOfChar('abcaadsca','a')
print(a)

bcdsc

### Question 5 - Highest Occuring Character

<pre>
For a given a string(str), find and return the highest occurring character.
Example:
Input String: "abcdeapapqarr"
Expected Output: 'a'
Since 'a' has appeared four times in the string which happens to be the highest frequency character, the answer would be 'a'.
If there are two characters in the input string with the same frequency, return the character which comes first.
Consider:
Assume all the characters in the given string to be in lowercase always.
Input Format:
The first and only line of input contains a string without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string. 
Note:
You are not required to print anything explicitly. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
abdefgbabfba
Sample Output 1:
b
Sample Input 2:
xy
Sample Output 2:
x
</pre>

In [71]:
def highestOccuringChar(string):
    maxFrequency = 0
    arr = [0]*256
    ans = ''
    for i in range(len(string)):
        arr[ord(string[i])] += 1
        # To find which number is the highest in the array
        maxFrequency = max(maxFrequency, arr[ord(string[i])])
    
    # To map which which char has the highest frequency
    for i in range(len(string)):
        if arr[ord(string[i])] == maxFrequency:
            ans = string[i]
            break
    return ans
        
a = highestOccuringChar('aabbbdddaaacchkjd888')
print(a)

a

### Question 6 - Compress the String

<pre>
Write a program to do basic string compression. For a character which is consecutively repeated more than once, replace consecutive duplicate occurrences with the count of repetitions.
Exmple:
If a string has 'x' repeated 5 times, replace this "xxxxx" with "x5".

The string is compressed only when the repeated character count is more than 1.
Note :
Consecutive count of every character in the input string is less than or equal to 9.
Input Format:
The first and only line of input contains a string without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string.
Note:
You are not required to print anything. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aaabbccdsa
Sample Output 1:
a3b2c2dsa
Sample Input 2:
aaabbcddeeeee
Sample Output 2:
a3b2cd2e5
<pre>

In [1]:
def getCompressedString(string):
    n = len(string)
    ans = ''
    cur = 1
    # if n==0:
    #     return ans
    # cur =1
    ans +=string[0]
    
    for i in range(1,n):
        if string[i] == string[i-1]:
            cur +=1
        else:
            if cur > 1:
                ans += str(cur)
                cur = 1
            ans +=string[i]

    if cur > 1:
        ans += str(cur)
    
    return(ans)

a = getCompressedString('aaaaaabbddd')
print(a)

a6b2d3

In [2]:
# Does not pass all test cases as if a string is aaabccc it gives a3b1c3 insted of a3bc1
def getCompressedString(string):
    temp = string[0]
    ans =''
    count = 0 
    string = string + " "
    # TODO - see for a way to use indexed for loop in the process
    for i in string:
        if i == temp:
            count +=1
        else:
            ans = ans + str(temp) + str(count)
            temp = i
            count = 1
    return ans
a = getCompressedString('aaaabbc')
print(a)

a4b2c1

In [4]:
# Wrong and check why char not working
# def getCompressedString(string):
#     arr = [0]*256
#     ans = ''
#     for i in range(len(string)):
#         arr[ord(string[i])] += 1
    
#     for i in range(len(arr)):
#         if arr[i] == 0:
#             pass
#         else:
#             ans = ans + (chr(arr[i]) + str(arr[i]))
#     return(ans)

# a = getCompressedString('aaabbbcccd')
# print(a)

SyntaxError: invalid syntax (<ipython-input-4-81543fa683d4>, line 1)

---

---

## 2D Lists

### Intro to 2D Lists

In [81]:
# This is a 2D List
li = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [82]:
li

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [83]:
li[2][2]

11

In [84]:
li[3][2]

15

### Jagged Lists

In [85]:
li = [[1,2,3,4],[5,6,7],[8,9],[10,11]]

In [86]:
li

[[1, 2, 3, 4], [5, 6, 7], [8, 9], [10, 11]]

In [87]:
# the indexin is same
li[2][1]

9

In [88]:
li[0][3]

4

### List Comprehension

In [89]:
li = [1,2,3,4]
li_new = []
for ele in li:
    li_new.append(ele**2)
print(li_new)

[1, 4, 9, 16]

In [90]:
# [outputwanted for ele in li]
li_new2 = [ele**2 for ele in li]
li_new2

[1, 4, 9, 16]

In [91]:
# square of each element in li for even elements only
li_even_square = [ele**2 for ele in li if ele%2 == 0]
li_even_square

[4, 16]

In [92]:
# append elements which are multiple of 2 and 3
li = [1,2,3,4,5,6,7,8,9,10]
li_n = [ele for ele in li if ele%2==0 and ele%3==0]
li_n

[6]

In [93]:
# we can have multiple for loops as well
# we want a new list which has the elements which are common in li and li2
li = [1,9,78,6,82,6]
li2 = [2,34,54,82,9,4]
li_intersection = [ele for ele in li for ele2 in li2 if ele == ele2]
li_intersection

[9, 82]

In [94]:
# we can have if else conditions too
# if it is a multiple of 2 we want element squared else we want the same elements
li = [1,2,3,4,5]
li_new = [ele**2 if ele%2==0 else ele for ele in li] 
li_new

[1, 4, 3, 16, 5]

In [95]:
# these comprehensions can be done on strings as well
# each character in a new list
a = 'Avishek'
li = [ele for ele in a]
li

['A', 'v', 'i', 's', 'h', 'e', 'k']

In [96]:
# we can generate 2d lists using comprehensions
#each row will have a list of names and the list of names will be broken into characters inside the list
li = ['Avishek','Bhuvan','Keshav']
li_2D = [[s for s in ele] for ele in li]
li_2D

[['A', 'v', 'i', 's', 'h', 'e', 'k'],
 ['B', 'h', 'u', 'v', 'a', 'n'],
 ['K', 'e', 's', 'h', 'a', 'v']]

In [97]:
li = [[ i*j for j in range(4)] for i in range(3)]
print(li)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

### Taking input of a 2D List - Type 1

The input will be of the kind that first line will specify n,m(rows and column) and the 2D list will have each row in a different line:  
3 4  
1 2 3 4  
5  6 7 8  
9 10 11 12  

<pre>
str = input().split()
n,m = int(str[0]), int(str[1])
li = [[int(j) for j in input().split()] for i in range(n)]
</pre>

In [98]:
# Input of n,m
str = input().split()
n,m = int(str[0]), int(str[1])
# Input of the 2D List - The lsit inside is creating the lists which will be inside the list and the outer list will make the list that will contain the lists created by the inner list
li = [[int(j) for j in input().split()] for i in range(n)]
# the input is given as
# 3 4
# 1 2 3 4 
# 5 6 7 8
# 9 10 11 12 
li

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

### Taking input of a Jagged List

In [101]:
n = int(input())
li = [[int(j) for j in input().split()] for i in range(n)]
li
# the input is given int the form:
# 4
# 1 2 3 4
# 5 6
# 7
# 8 9 10

[[1, 2, 3, 4], [5, 6], [7], [8, 9, 10]]

### Taking input of a 2D List - Type 2

The input will be of the kind that first line will specify n,m(rows and column) and the 2D list will have each row in a different line:    
n - number of lists, m - number of elements in each list  
3 4   
1 2 3 4 5 6 7 8 9 10 11 12

<pre>
With the formula m*i + j - row is given by m*i and column given by j
</pre>

In [102]:
str = input().split()
n,m = int(str[0]), int(str[1])
b =  input().split()
arr = [ [ int(b[m*i+j]) for j in range(m)] for i in range(n)]
arr

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

INPUT OF THE FORMAT:  
3 4 1 2 3 4 5 6 7 8 9 10 11 12  
Here 3 and 4 are n,m specified in the same line

In [104]:
str = input().split()
n,m = int(str[0]), int(str[1])
b =  str[2:]
arr = [ [ int(b[m*i+j]) for j in range(m)] for i in range(n)]
arr

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

### Printing a 2D List

In [105]:
li = [1,2,3,4],[5,6,7,8],[9,10,11,12]

In [106]:
n = 3
m = 4

In [107]:
# Line seperated output
for i in range(n):
    for j in range(m):
        print(li[i][j])

1
2
3
4
5
6
7
8
9
10
11
12

In [108]:
# print each row in a different column
for i in range(n):
    for j in range(m):
        print(li[i][j],end=' ')
    print()

1 2 3 4
5 6 7 8
9 10 11 12

In [109]:
# In jagged list there can be any number of columns
li = [[1,2,3,4],[5,6],[9,10,11]]
n = 3
# as 2D Lists are itself a list, it is a list of list we can use the for in operator to iterate over each list inside the list
for row in li:
    for ele in row:
        print(ele, end=' ')
    print()
# in this case it does not matter we know the range of m or not we can print it irrespective

1 2 3 4
5 6
9 10 11

### Join function

In [110]:
'ab'.join('abcd')

'aabbabcabd'

In [111]:
# all elemrnts of the list have to be a list - as concatination of sting and int are not possible
'ab'.join(['1','2','3'])

'1ab2ab3'

In [112]:
#TODO - join operation not working
# used only for printing
# li = [[1,2,3,4],[5,6],[9,10,11]]
# n = 3
# for row in li:
#     output = ' '.join([str(ele) for ele in row])
#     print(output)

### Question 1 - Row Wise Sum

<pre>
For a given two-dimensional integer array/list of size (N x M), find and print the sum of each of the row elements in a single line, separated by a single space.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output Format :
For each test case, print the sum of every ith row elements in a single line separated by a single space.

Output for every test case will be printed in a seperate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1:
1
4 2 
1 2 
3 4 
5 6 
7 8
Sample Output 1:
3 7 11 15 
Sample Input 2:
2
2 5 
4 5 3 2 6 
7 5 3 8 9
4 4
1 2 3 4
9 8 7 6
3 4 5 6
-1 1 -10 5
Sample Output 2:
20 32 
10 30 18 -5 
</pre>

In [14]:
def rowWiseSum(mat, nRows, mCols):
    for i in range(nRows):
        sum = 0
        for j in range(mCols):
            sum += mat[i][j]
        print(sum, end = ' ')

a = rowWiseSum([[1,2],[1,4],[3,4]],3,2)
print(a)

3 5 7 None

### Question 2 - Largest Column in a 2D List

In [114]:
# returns the index of the column which has the largest sum
def lar_col_Sum(li):
    # no of rows will be - len(li)
    # no of column will be - len(li[0]) we used 0 here we could have used any index provided it was within range
    # concidering that all rows have same number of column
    n = len(li)
    m = len(li[0])
    
    mSum = -1
    mIndex = -1
    # generally we iitereate row wise, for largest sum we have to iterate in column
    for j in range(m):
        Sum = 0
        for i in range(n):
            Sum += li[i][j]
        if Sum > mSum:
            mIndex = j
            mSum = Sum
    return mSum, mIndex
    
    
li =  [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
lar_sum,lar_col_index = lar_col_Sum(li)
print(lar_sum, lar_col_index)

24 3

In [115]:
# returns the index of the column which has the largest sum
def lar_col_Sum(li):
    # no of rows will be - len(li)
    # no of column will be - len(li[0]) we used 0 here we could have used any index provided it was within range
    # concidering that all rows have same number of column
    n = len(li)
    m = len(li[0])
    
    mSum = -1
    mIndex = -1
    # generally we iitereate row wise, for largest sum we have to iterate in column
    for j in range(m):
        Sum = 0
        # we actually do not need to know n, we could just go throug each column and tell to pick
        # the jth element - eg. first column all 0th ele, second column all 1st ele e.t.c
        for ele in li:
            Sum += ele[j]
            
        if Sum > mSum:
            mIndex = j
            mSum = Sum
    return mSum, mIndex
    
    
li =  [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
lar_sum,lar_col_index = lar_col_Sum(li)
print(lar_sum, lar_col_index)

24 3

### Question 3 - Largest Row or Column

<pre>
For a given two-dimensional integer array/list of size (N x M), you need to find out which row or column has the largest sum(sum of all the elements in a row/column) amongst all the rows and columns.
Note :
If there are more than one rows/columns with maximum sum, consider the row/column that comes first. And if ith row and jth column has the same largest sum, consider the ith row as answer.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output Format :
For each test case, If row sum is maximum, then print: "row" row_index row_sum
OR
If column sum is maximum, then print: "column" col_index col_sum
It will be printed in a single line separated by a single space between each piece of information.

Output for every test case will be printed in a seperate line.
 Consider :
If there doesn't exist a sum at all then print "row 0 -2147483648", where -2147483648 or -2^31 is the smallest value for the range of Integer.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1 :
1
2 2 
1 1 
1 1
Sample Output 1 :
row 0 2
Sample Input 2 :
2
3 3
3 6 9 
1 4 7 
2 8 9
4 2
1 2
90 100
3 40
-10 200
Sample Output 2 :
column 2 25
column 1 342
</pre>

In [27]:
def findLargest(arr, nRows, mCols):

    max_sum = -(2^31)
    max_index = 0
    isRow = True
    
    for i in range(nRows):
        Sum = 0
        for j in range(mCols):
            Sum += arr[i][j]
        
        if Sum > max_sum:
            max_index  = i
            max_sum = Sum
    
    for j in range(mCols):
        Sum = 0
        for i in range(nRows):
            Sum += arr[i][j]
        
        if Sum > max_sum:
            max_index  = j
            max_sum = Sum
            isRow = False
    
    if isRow:
        print('row', str(max_index)+ ' '+ str(max_sum))
    else:
        print('column', str(max_index) + ' '+  str(max_sum))

a = findLargest([[3,6,9], [1,4,7], [2,8,9]],3,3)
a

column 2 25

### Question 4 - Wave Print

<pre>
For a given two-dimensional integer array/list of size (N x M), print the array/list in a sine wave order, i.e, print the first column top to bottom, next column bottom to top and so on.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output format :
For each test case, print the elements of the two-dimensional array/list in the sine wave order in a single line, separated by a single space.

Output for every test case will be printed in a seperate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1:
1
3 4 
1  2  3  4 
5  6  7  8 
9 10 11 12
Sample Output 1:
1 5 9 10 6 2 3 7 11 12 8 4
Sample Input 2:
2
5 3 
1 2 3 
4 5 6 
7 8 9 
10 11 12 
13 14 15
3 3
10 20 30 
40 50 60
70 80 90
Sample Output 2:
1 4 7 10 13 14 11 8 5 2 3 6 9 12 15 
10 40 70 80 50 20 30 60 90 
</pre>

In [34]:
def wavePrint(mat, nRows, mCols):
    if nRows == 0:
        return
    
    for j in range(mCols):
        if (j % 2 == 0):
            for i in range(nRows):
                print(mat[i][j], end=' ')
        else:
            for i in range((nRows-1), -1, -1):
                print(mat[i][j], end= ' ')


wavePrint([[1,2,3,4],[5,6,7,8],[9,10,11,12]], 3, 4)

1 5 9 10 6 2 3 7 11 12 8 4

### Questoin 5 - Spiral Print

<pre>
For a given two-dimensional integer array/list of size (N x M), print it in a spiral form. That is, you need to print in the order followed for every iteration:
a. First row(left to right)
b. Last column(top to bottom)
c. Last row(right to left)
d. First column(bottom to top)
 Mind that every element will be printed only once.
Refer to the Image:
Spiral path of a matrix

Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output format :
For each test case, print the elements of the two-dimensional array/list in the spiral form in a single line, separated by a single space.

Output for every test case will be printed in a seperate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1:
1
4 4 
1 2 3 4 
5 6 7 8 
9 10 11 12 
13 14 15 16
Sample Output 1:
1 2 3 4 8 12 16 15 14 13 9 5 6 7 11 10 
Sample Input 2:
2
3 3 
1 2 3 
4 5 6 
7 8 9
3 1
10
20
30
Sample Output 2:
1 2 3 6 9 8 7 4 5 
10 20 30 
</pre>

In [2]:
def spiralPrint(mat, nRows, mCols):
    if nRows ==0:
        return
    
    rowstart, colstart = 0, 0
    numElement = nRows*mCols
    count = 0
    
    while count < numElement:
        i = colstart
        while i < mCols and count < numElement:
            print(mat[rowstart][i], end=' ')
            count += 1
            i += 1
        rowstart +=1
        
        i =  rowstart
        while i < nRows and count < numElement:
            print(mat[i][mCols -1], end=' ')
            count += 1
            i += 1
        mCols -= 1
        
        i = mCols - 1
        while i >= colstart and count < numElement:
            print(mat[nRows-1][i], end=' ')
            count += 1
            i -= 1
        nRows  -=1
        
        i = nRows - 1
        while i >= rowstart and count < numElement:
            print(mat[i][colstart], end=' ')
            count += 1
            i -= 1
        colstart +=1
        
spiralPrint([[1,2,3],[4,5,6],[7,8,9]], 3, 3 )

1 2 3 6 9 8 7 4 5

## Tuples, Dictionaries & Sets

### Tuples

In [116]:
a = (1,2)
a

(1, 2)

In [117]:
type(a)

tuple

In [118]:
b,c = 3, 4
print(b)
print(c)

e = 5, 6
print(e)
type(e)

3
4
(5, 6)

tuple

#### Access elements in a Tuple

In [119]:
a = (1,2,3,4,5)
print(a[2])
print(a[-1])
print(a[:3])

3
5
(1, 2, 3)

#### Tuples are Immutable

Tuples cannot be updated added or removed

In [120]:
# will not work as we know tuples are immutable
# a[2] = 4

In [121]:
# We cannot change the entries in the Tuple but we can delete the Tuple itself
del a

#### Tuple Functions

In [122]:
# Both are Tuples
a = (1,2,3)
b = 4, 5

In [123]:
# We can iterate through the tuple in both ways
for i in a:
    print(i)

1
2
3

In [124]:
for i in range(len(b)):
    print(b[i])

4
5

In [125]:
# Check membership in a Tuple
print(1 in a)
print(1 in b)

True
False

In [126]:
# length
len(a)

3

In [127]:
# concatinatio of Tuple
c = a+b
print(c)
d = (a,b)
d # Tuple of tuples
# both the things are different, The first has 1,2,3,4,5 as seperate elements, the second has 2 tuples inside a tuple

(1, 2, 3, 4, 5)

((1, 2, 3), (4, 5))

In [128]:
# Repitation
a = (1,2)
print(a*4)

(1, 2, 1, 2, 1, 2, 1, 2)

In [129]:
# min-max
a = (1,2,3,4,5)
print(min(a))
print(max(a))

1
5

In [130]:
# List to tuple
l = [1,2,3,4,5]
a = tuple(l)
print(type(l))
print(type(a))

<class 'list'>
<class 'tuple'>

In [131]:
# predict the output
a = 1,2
b = (4,5)
d = a+b
print(d[2])

4

### Dictionary

#### Intro to dictionaries

In [132]:
a = {}
type(a)

dict

In [133]:
a = {'the':1,'a':5,1000:'abc'}
a

{'the': 1, 'a': 5, 1000: 'abc'}

In [134]:
len(a)

3

#### Some other ways of creating a dict

In [135]:
#TYPE 1
a = {'the':1,'a':5,1000:'abc'}
a

{'the': 1, 'a': 5, 1000: 'abc'}

In [136]:
# TYPE 2
b = a.copy()
b

{'the': 1, 'a': 5, 1000: 'abc'}

In [137]:
# TYPE 3
c = dict([("the",3), ("a",5), (1000,"abc")])
c

{'the': 3, 'a': 5, 1000: 'abc'}

In [138]:
# TYPE 4
# By default the keys have been assigned the value to be 0.
d = dict.fromkeys(['the','a',1000])
d

{'the': None, 'a': None, 1000: None}

In [139]:
# if we want to change the default value we can add a parameter 
e = dict.fromkeys(['the','a',1000], 10)
e

{'the': 10, 'a': 10, 1000: 10}

#### Elements in a Dictionary

In [206]:
a = {1:2, 3:4, "list":[1,23], "dict":{1:2}}
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}}

#### Accesing a element in a Dictionary

In [207]:
# For accessing the elemet we have to use the key specified to the value we want to access
print(a[1])
print(a['list'])

2
[1, 23]

#### Accesing a element in a Dictionary - get function

In [208]:
# we can use get funciton which does the same thing as <dict_name>[<index>] but incase the key is not present it does not return an error it returns a null value
# we can chane the output for when a key is not present from none to any value we wish
print(a.get('list'))
print(a.get('li'))
print(a.get('hello', 0))

[1, 23]
None
0

In [209]:
d = {1:2, "abc":5, "def":7}
print(d.get(0,5))

5

#### Returning all the keys & values

In [210]:
a.keys()

dict_keys([1, 3, 'list', 'dict'])

In [211]:
a.values()

dict_values([2, 4, [1, 23], {1: 2}])

In [212]:
# If we want to get the pairs (the key and value pairs)
a.items()

dict_items([(1, 2), (3, 4), ('list', [1, 23]), ('dict', {1: 2})])

In [213]:
# printing all the keys one by one
for i in a:
    print (i)

1
3
list
dict

In [214]:
# to print the value and the key in the same line
for i in a:
    print(i, a[i])

1 2
3 4
list [1, 23]
dict {1: 2}

In [215]:
# will only give the values
for i in a.values():
    print(i)
print()
for i in a:
    print(a[i])

2
4
[1, 23]
{1: 2}

2
4
[1, 23]
{1: 2}

#### Check if a key exists in a dictonary

In [216]:
print('list' in a)
print('hello' in a)

True
False

#### Adding & Removing Data in a Dictionary

In [217]:
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}}

In [218]:
 # Adding an element
 a['tup'] = (1,2,3)
print(a)

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tup': (1, 2, 3)}

In [219]:
# Updating an element
a[1] = 10
a

{1: 10, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tup': (1, 2, 3)}

In [220]:
b = {3:5, 'the':4, 2:100}

In [221]:
# Will update all the values of b into a and the keys which are common will be updated
a.update(b)
print(a)

{1: 10, 3: 5, 'list': [1, 23], 'dict': {1: 2}, 'tup': (1, 2, 3), 'the': 4, 2: 100}

In [222]:
# Removing an element
print(a)
a.pop('tup') # passing a key

{1: 10, 3: 5, 'list': [1, 23], 'dict': {1: 2}, 'tup': (1, 2, 3), 'the': 4, 2: 100}

(1, 2, 3)

In [223]:
del a[1]
a

{3: 5, 'list': [1, 23], 'dict': {1: 2}, 'the': 4, 2: 100}

In [224]:
# delete data from the dictionary
a.clear()
a

{}

In [225]:
# To delete the dictionary itself
del a

#### Question

Print all the words in a sting with frequency 1

In [251]:
a = 'This is a words string having many many words'
k = 2
words = a.split()
words

['This', 'is', 'a', 'words', 'string', 'having', 'many', 'many', 'words']

In [252]:
d = {}
for w in words:
    if w in d:
        d[w] = d[w] + 1
    else:
        d[w] = 1 
d

{'This': 1, 'is': 1, 'a': 1, 'words': 2, 'string': 1, 'having': 1, 'many': 2}

In [253]:
d = {}
for w in words:
    d[w] = d.get(w, 0) + 1
d

{'This': 1, 'is': 1, 'a': 1, 'words': 2, 'string': 1, 'having': 1, 'many': 2}

In [254]:
for w in d:
    if d[w] == k:
        print(w)

words
many

In [258]:
# Fuction for the same
def printKfreq(str, k):
    words = str.split()
    d = {}
    for w in words:
        d[w] = d.get(w, 0) + 1

    for w in d:
        if d[w] == k:
            print(w)

printKfreq('This is a words string having many many words', 2)

words
many

### Sets

#### Introduction to sets

In [274]:
a  = {'apple', 'abc', 23}
print (type(a))
a

<class 'set'>

{23, 'abc', 'apple'}

In [275]:
'abc' in a

True

In [276]:
21 in a

False

In [277]:
for i in a:
    print (i)

apple
abc
23

In [278]:
len(a)

3

In [279]:
# add data
a.add('temp')
a

{23, 'abc', 'apple', 'temp'}

In [280]:
b = {'abc', 'ghi'}

In [281]:
# update works similar to dictionary update
a.update(b)
a

{23, 'abc', 'apple', 'ghi', 'temp'}

In [282]:
a.remove('temp')
a

{23, 'abc', 'apple', 'ghi'}

In [283]:
a.discard('ghi')
a

{23, 'abc', 'apple'}

In [ ]:
# if elemrnt not present in key then discar does not give a error like remove it ruturnes null
a.discard('hello')

In [ ]:
# remove one element from the set and the removed elemet will be arbritrary not necessarilyy the last element could be any element
a.pop()

#### Functions in a set

In [284]:
a = {1,2,3,4}
b = {3,4,5,6}

In [286]:
a.intersection(b)

{3, 4}

In [287]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [288]:
# Eveeything that is in a but not in b
a.difference(b)

{1, 2}

In [289]:
# everything in b but not in a
b.difference(a)

{5, 6}

In [290]:
# ignore the intersection and take everything else
a.symmetric_difference(b)

{1, 2, 5, 6}

In [291]:
# Will actually change the value inside the the set a
a.intersection_update(b)
a

{3, 4}

In [293]:
a = {1,2,3,4}
b = {3,4,5,6}
a.difference_update(b)
a

{1, 2}

In [294]:
a = {1,2,3,4}
b = {3,4,5,6}
a.symmetric_difference_update(b)
a
# there is no a . union update

{1, 2, 5, 6}

In [296]:
a.issubset(b)

False

In [297]:
b.issubset(a)

False

In [300]:
c= {3,4}
a = {1,2,3,4}
c.issubset(a)

True

In [301]:
a.issuperset(c)

True

In [302]:
a.isdisjoint(b)

False

In [303]:
d = [1000,78]
a.isdisjoint(d)

True

#### Empty set

In [305]:
s = set()
print(type(s))

<class 'set'>

#### Sum of all unique numbers in a list

In [309]:
def sumUnique(l):
    # Adding all the list elements into a list
    s = set()
    for i in l:
        s.add(i)
    sum = 0
    # Takinga a sum of all the elements in the set
    for i in s:
        sum += i
    return sum

sumUnique([2,6,5,9,4,2])

26