<b> Strings in Python <b>

In [2]:
my_string = "this is my string"

In [3]:
print(my_string)

this is my string

In [4]:
type(my_string)

str

In [5]:
len(my_string)

17

In [6]:
empty_string = ""

In [7]:
len(empty_string)

0

In [8]:
my_string = my_string + " " + " this is added to original"

'this is my string  this is added to original'

In [9]:
my_string

'this is my string'

In [10]:
my_string

'this is my string'

In [11]:
my_string[0]

't'

In [12]:
my_string[2]

'i'

In [13]:
my_string[-1]

'g'

In [14]:
my_string[-2]

'n'

In [15]:
my_string

'this is my string'

In [16]:
my_string[0:3]

'thi'

In [17]:
my_string[3:7]

's is'

In [20]:
my_string[0:]

'this is my string'

In [19]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
my_string

'this is my string'

In [22]:
my_string.upper()

'THIS IS MY STRING'

In [23]:
my_string

'this is my string'

In [24]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [25]:
my_string.islower()

True

In [26]:
my_string

'this is my string'

In [27]:
my_string.isnumeric()

False

In [28]:
string = "            this is new string         "

In [29]:
string

'            this is new string         '

In [30]:
string.rstrip()

'            this is new string'

In [31]:
string.lstrip()

'this is new string         '

In [32]:
string.strip()

'this is new string'

In [33]:
string

'            this is new string         '

In [34]:
string1 = "@@@@@@@@@@@this is new string         "

In [35]:
string1.lstrip("@")

'this is new string         '

In [36]:
line_Str = "sumit 10 20 30"

In [37]:
type(line_Str)

str

In [38]:
splitted_Str = line_Str.split()

In [39]:
splitted_Str

['sumit', '10', '20', '30']

In [40]:
splitted_Str[0]

'sumit'

In [41]:
type(splitted_Str)

list

In [42]:
type(splitted_Str[0])

str

In [46]:
csv_String_prachi = "sumit,10,20,30"

In [47]:
type(csv_String_prachi)

str

In [48]:
csv_String_prachi.split(",")

['sumit', '10', '20', '30']

In [49]:
csv_String_prachi.find("sumit")

0

In [50]:
# strings and mutability concepts 

name = "sam"

In [51]:
name

'sam'

In [52]:
name[0]

's'

In [53]:
id(name)

1899938848176

In [54]:
name[0] = "r"

TypeError: 'str' object does not support item assignment

In [55]:
name = "ram"

In [56]:
name

'ram'

In [57]:
id(name)

1899938825904

<b> tuples <b>

In [58]:
my_tuple = (1,1.4,True,"sachin")

In [59]:
type(my_tuple)

tuple

In [60]:
id(my_tuple)

1899939039648

In [61]:
len(my_tuple)

4

In [62]:
my_tuple[3]

'sachin'

In [63]:
type(my_tuple[3])

str

In [64]:
my_tuple[-1]

'sachin'

In [65]:
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)

In [66]:
tuple1 + tuple2

(1, 2, 3, 4, 5, 6, 7, 8)

In [67]:
tuple1

(1, 2, 3, 4)

In [68]:
tuple2

(5, 6, 7, 8)

In [69]:
tuple1 * 4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [70]:
tuple1

(1, 2, 3, 4)

In [71]:
tuple1[0]

1

In [72]:
tuple1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [73]:
tuple1 = (10,2,3,4)

In [74]:
tuple1

(10, 2, 3, 4)

In [75]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [76]:
tuple1[5] = 5

TypeError: 'tuple' object does not support item assignment

In [77]:

tuple1 = tuple1 + (5)

TypeError: can only concatenate tuple (not "int") to tuple

<b> List <b>

In [78]:
my_list = [1,3.5,False,'Neha',100]

In [79]:
type(my_list)

list

In [80]:
len(my_list)

5

In [81]:
my_list[3]

'Neha'

In [82]:
my_list[-2]

'Neha'

In [83]:
my_list[1:]

[3.5, False, 'Neha', 100]

In [84]:
for ele in my_list:
    print(ele)

1
3.5
False
Neha
100

In [85]:
my_list

[1, 3.5, False, 'Neha', 100]

In [86]:
print(my_list)

[1, 3.5, False, 'Neha', 100]

In [87]:
my_list

[1, 3.5, False, 'Neha', 100]

In [88]:
my_list.append([200,300])

In [89]:
my_list

[1, 3.5, False, 'Neha', 100, [200, 300]]

In [90]:
my_list.extend([2,3,4])

In [91]:
my_list

[1, 3.5, False, 'Neha', 100, [200, 300], 2, 3, 4]

In [92]:
list = [1,1.4,5,8,543]

In [93]:
sum(list)

558.4

In [94]:
min(list)

1

In [95]:
max(list)

543

In [96]:
list

[1, 1.4, 5, 8, 543]

In [97]:
list.reverse()

In [ ]:
list

In [99]:
my_list

[1, 3.5, False, 'Neha', 100, [200, 300], 2, 3, 4]

In [100]:
sum(my_list)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [101]:
list = (1,2,3)

In [102]:
list

(1, 2, 3)

In [103]:
type(list)

tuple

In [104]:
my_list

[1, 3.5, False, 'Neha', 100, [200, 300], 2, 3, 4]

In [105]:
1000 in my_list

False

In [106]:
100 in my_list

True

In [107]:
200 in my_list

False

In [109]:
#tuple vs list !!!

list1 = [1,2,3,4] # mutable --> ex: marks, sugar level
tup1 = (1,2,3,4) # immutable --> ex: aadhar , roll

In [110]:
type(list1)

list

In [112]:
type(tup1)

tuple

In [113]:
list1[0]=10

In [114]:
list1

[10, 2, 3, 4]

In [115]:
tup1[0] = 10

TypeError: 'tuple' object does not support item assignment

<b> Set <b>

In [116]:
my_empty_set = {}

In [117]:
len(my_empty_set)

0

In [118]:
type(my_empty_set)

dict

In [119]:
my_set = {1,2,3,4,5,4,1,7,8,91,3,4}

In [120]:
my_set

{1, 2, 3, 4, 5, 7, 8, 91}

In [121]:
len(my_set)

8

In [123]:
type(my_set)

set

In [124]:
set1 = {0,1,2,3,4,5}

In [125]:
set1

{0, 1, 2, 3, 4, 5}

In [126]:
set1.add(50)

In [127]:
set1

{0, 1, 2, 3, 4, 5, 50}

In [128]:
set1.remove(4)

In [129]:
set1

{0, 1, 2, 3, 5, 50}

In [130]:
set1.pop()

0

In [131]:
set1

{1, 2, 3, 5, 50}

In [132]:
set1.pop()

1

In [133]:
set1

{2, 3, 5, 50}

In [134]:
set1 = {1,2,3,4,5,6,7}
set2 = {4,2,7,8}
set3 = {3,4,5}

In [135]:
set1.intersection(set2)

{2, 4, 7}

In [136]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [137]:
set1 - set2

{1, 3, 5, 6}

In [138]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [139]:
set1.difference(set2)

{1, 3, 5, 6}

In [140]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [141]:
set1.remove(100)

KeyError: 100

<b> Dictionary <b>

In [142]:
my_dict = {1:"supriya", 2:"ajay"}

In [143]:
my_dict

{1: 'supriya', 2: 'ajay'}

In [144]:
len(my_dict)

2

In [145]:
my_dict.keys()

dict_keys([1, 2])

In [146]:
my_dict.values()

dict_values(['supriya', 'ajay'])

In [147]:
type(my_dict.values())

dict_values

In [148]:
my_dict.items()

dict_items([(1, 'supriya'), (2, 'ajay')])

In [150]:
my_dict1 = {"key1" : "value1", 'key2': "value2"}

In [151]:
tup = (1,2,3)

In [152]:
type(tup)

tuple

In [153]:
l = list(tup)

TypeError: 'tuple' object is not callable

In [156]:
letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

string_letters = str(letters)
#lists_letters = list(letters)
tuples_letters = tuple(letters)
sets_letters = set(letters)


print("String: ", string_letters)
print() # for new line
#print("Lists: ", lists_letters)
print() # for new line
print("Tuples: ", tuples_letters)
print() # for new line
print("Sets: ", sets_letters)

String:  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ


Tuples:  ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z')

Sets:  {'h', 'F', 'j', 'I', 'v', 'T', 'Q', 'w', 'x', 'u', 'y', 'C', 'M', 'g', 'J', 'o', 'e', 'f', 'q', 'D', 'K', 'L', 'S', 'R', 'z', 'p', 'Y', 'a', 'G', 'c', 'V', 'l', 'n', 'O', 'N', 'E', 'A', 'H', 'P', 'r', 'm', 'W', 'X', 't', 'B', 'i', 's', 'b', 'd', 'Z', 'U', 'k'}

In [157]:
l = [1,2,3]
t = tuple(l)

In [158]:
type(t)

tuple

In [1]:
name = "renu"

In [2]:
print(name)

renu

In [3]:
name

'renu'

In [4]:
a = 10

In [5]:
a

10

In [6]:
In

['', 'name = "renu"', 'print(name)', 'name', 'a = 10', 'a', 'In']

In [7]:
Out

{3: 'renu',
 5: 10,
 6: ['', 'name = "renu"', 'print(name)', 'name', 'a = 10', 'a', 'In', 'Out']}

In [1]:
a = 5

In [2]:
b = 5

In [3]:
a is b

True

In [4]:
id(a)

140705045620640

In [5]:
id(b)

140705045620640

In [6]:
print ( a )
print (b)

5
5

In [7]:
c = 15

In [8]:
a is c

False